
* {
  box-sizing: border-box;
}


#bg {
  position: fixed; 
  bottom: -25%; 
  left: -15%; 
  width: 130%; 
  height: 130%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  margin: auto; 
  height: 130%;
  min-width: 77%;
  width: auto;

}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}



@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.bg-color-black{
  background-color: black;
}

.bg-color-blue{
  background-color: #000080;
}

.bg-color-grey{
  background-color: #c0c0c0;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 24px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.brdr-2px {
  border-width: 2px;
}

.brdr-outset-grey{
  border-style: outset;
  border-color: #BFB8BF;
}

.clear-floats{
  clear: both;
}

.color-green{
  color: #00DB00;
}

.color-white{
  color: white;
}

.flt-lft{
  float: left;
}

.flt-rt{
  float: right;
}

.font-monospace{
  font-family: "Courier New", Courier, monospace;
}

.font-sans{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.font-size-12px{
  font-size: 12px;
}

.font-size-14px{
  font-size: 14px;
}

.font-size-16px{
  font-size: 16px;
}

.font-weight-lighter{
  font-weight: 300px;
}

.height-40-px{
  height: 40px;
}

.line-height-24px{
  line-height: 24px;
}

.margin-auto{
  margin: auto;
}

.marginbottom-24px{
  margin-bottom: 24px;
}

.marginbottom-40px{
  margin-bottom: 40px;
}

.margintop-40px{
  margin-top: 40px;
}

.pad-2px{
  padding: 2px;
}

.pad-8px{
  padding: 8px;
}

.popUp {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 15%;
    top: 15%;
    width: 50%;
    height: 65%;
}

.popUpClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popUpClose:hover,
.popUpClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popUpContent {
    background-color: #fefefe;
    height: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

.position-fixed-bottom{
  position: fixed;
  bottom: 0;
}

.width-auto{
  width: auto;
}

.width-20-pct{
  width: 20%;
}

.width-35-pct{
  width: 35%;
}

.width-45-pct{
  width: 45%;
}

.width-50-pct{
  width: 50%;
}

.width-55-pct{
  width: 55%;
}

.width-60-pct{
  width: 60%;
}

.width-85-pct{
  width: 85%;
}

.width-100-pct{
  width: 100%;
}